@import "tailwindcss";

@source "../../react-cart/src";

/* Override container sizes */
@theme {
  /* Set custom container width at each breakpoint */
  --container-sm: 640px;    /* sm */
  --container-md: 768px;    /* md */
  --container-lg: 1024px;   /* lg */
  --container-xl: 1024px;   /* xl */
  --container-2xl: 1536px;  /* 2xl */
  /* You can customize, e.g.: --
     --container-2xl: 1400px;
  --container-lg: initial;  // To disable default and control manually */
}
