@import "tailwindcss";

@source "../../react-cart/src";


.container {
  max-width: 80rem; /* You can change this to 600px, 720px, etc. */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Override container sizes */
@theme {
  --container-3xs: 18rem;
  --container-2xs: 18rem;
  --container-xs: 18rem;
  --container-sm: 20rem;
  --container-md: 20rem;
  --container-lg: 20rem;
  --container-xl: 20rem
  --container-2xl: 20rem;
  --container-3xl: 20rem;
  --container-4xl: 20rem;
  --container-5xl: 18rem;
  --container-6xl: 18rem;
  --container-7xl: 18rem;
  /* You can customize, e.g.: --
     --container-2xl: 1400px;
  --container-lg: initial;  // To disable default and control manually */
}

@theme {
  --text-xs: 0.75rem;
  --text-xs-weight: 300;
}
/* animations.css (or inside your main Tailwind CSS file) */

@theme  {
  --color-primary: #F3A71E;
  --color-primary-50:  #FFF8EC;
  --color-primary-100: #FFEFCB;
  --color-primary-200: #FFE39D;
  --color-primary-300: #FFD66D;
  --color-primary-400: #FDC53D;
  --color-primary-500: #F3A71E;
  --color-primary-600: #D78613;
  --color-primary-700: #B6680C;
  --color-primary-800: #955107;
  --color-primary-900: #7A4205;

  --color-neautral: #606060;
  --color-neautral-50: #f5f5f5;
  --color-neautral-100: #e0e0e0;
  --color-neautral-200: #cccccc;
  --color-neautral-300: #b3b3b3;
  --color-neautral-400: #999999;
  --color-neautral-500: #808080;
  --color-neautral-600: #606060;
  --color-neautral-700: #404040;
  --color-neautral-800: #262626;
  --color-neautral-900: #121212;
}

@keyframes slide-up-fade {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left-fade {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right-fade {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down-fade {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(0.5);
  }
}

/* Add utility classes manually */
.animate-slide-up-fade {
  animation: slide-up-fade 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.animate-slide-down-fade {
  animation: slide-down-fade 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.animate-slide-left-fade {
  animation: slide-left-fade 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.animate-slide-right-fade {
  animation: slide-right-fade 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.animation-scale-in {
  animation: scale-in 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
